!.yarn/*
!/.yarn/releases
!/.yarn/plugins
!/.yarn/sdks

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
.yarn/cache
.yarn/install-state.gz
#/.pnp.*
dist
node_modules
.DS_Store
.env
.idea

.eslintcache
.pgdata
.build
**/videos
**/downloads
**/screenshots
yarn.build.json
ssh-keypair*
.envrc

# Ignore certificate files
*.pem
# Important! Do not remove this ignore setting for Generated local Keycloak realm.-
# contains a plaintext dev password. We do not track this file in GIT. Only loal use.
keycloak/realm-ien.generated.json
