{{#> layout }}
<div class='content'>
Dear {{ firstName }}
<p>Thank you for registering with the Emergency Health Provider Registry (EHPR) - your interest in the program is greatly appreciated. 
  Your registration number is <code>{{{ confirmationId }}}</code> - please keep a copy of this number should you need to revise your information at a later date.</p>
<p><strong>What to expect next…</strong></p>
<p>If/when an emergency arises, health authority or Ministry of Health staff will use the EHPR to match their needs with the skills and preferences of registrants. 
  If and when a match is found you will be contacted.</p>
<p>If you have any questions, please contact <a href="mailto:EHPRQuestions@gov.bc.ca">EHPRQuestions@gov.bc.ca</a>.</p>
- Ministry of Health
</div>
{{/layout}}