<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>EHPR Submission</title>
  <style>
    .body {
      margin: 0 auto;
    }

    .main {
      margin-left: 0;
      margin-right: 0;
    }

    .content {
      line-height: 1.5em;
    }

  </style>
</head>

<div class="body">
  <div class="main">
    {{> @partial-block }}
  </div>
</div>

</html>
